.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.799805;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.256902,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.256902,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.256902,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,176,80);}
.fc3{color:rgb(255,0,0);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.160000px;}
.fs5{font-size:36.000000px;}
.fs1{font-size:39.840000px;}
.fs7{font-size:43.635592px;}
.fs4{font-size:44.160000px;}
.fs6{font-size:56.160000px;}
.fs0{font-size:63.840000px;}
.fs3{font-size:72.000000px;}
.y6{bottom:2.445548px;}
.y4{bottom:2.852420px;}
.y39{bottom:2.852428px;}
.y42{bottom:2.991715px;}
.y44{bottom:2.991722px;}
.yb{bottom:2.991724px;}
.y2d{bottom:3.231680px;}
.y37{bottom:3.231756px;}
.y2f{bottom:3.231757px;}
.y31{bottom:3.231764px;}
.y29{bottom:3.231765px;}
.y33{bottom:3.231771px;}
.y2b{bottom:3.231773px;}
.y35{bottom:3.231779px;}
.y18{bottom:3.501672px;}
.y1b{bottom:3.501679px;}
.y16{bottom:3.501694px;}
.y13{bottom:3.501702px;}
.y40{bottom:3.501707px;}
.ya{bottom:3.501717px;}
.y3c{bottom:3.501721px;}
.yd{bottom:3.501724px;}
.y25{bottom:3.501750px;}
.y1f{bottom:3.501765px;}
.y22{bottom:3.501772px;}
.y50{bottom:3.501780px;}
.y58{bottom:3.501783px;}
.y52{bottom:3.501810px;}
.y46{bottom:3.501813px;}
.y4a{bottom:3.501829px;}
.y4e{bottom:3.501833px;}
.y56{bottom:3.501837px;}
.y5f{bottom:3.501848px;}
.y48{bottom:3.501860px;}
.y4c{bottom:3.501865px;}
.y54{bottom:3.501868px;}
.y2{bottom:4.123900px;}
.y19{bottom:4.493386px;}
.y11{bottom:4.493409px;}
.y27{bottom:4.493457px;}
.y20{bottom:4.493495px;}
.y8{bottom:5.241732px;}
.yf{bottom:11.317696px;}
.y1d{bottom:12.893489px;}
.y15{bottom:12.893511px;}
.y24{bottom:12.893552px;}
.y61{bottom:19.358227px;}
.y0{bottom:53.000000px;}
.y5e{bottom:102.844212px;}
.y5d{bottom:118.711712px;}
.y5c{bottom:134.579212px;}
.y5b{bottom:150.446612px;}
.y5a{bottom:277.386712px;}
.y59{bottom:293.254112px;}
.y57{bottom:374.575112px;}
.y55{bottom:390.442612px;}
.y53{bottom:406.310012px;}
.y51{bottom:533.250012px;}
.y4f{bottom:597.711712px;}
.y4d{bottom:613.579212px;}
.y4b{bottom:629.446612px;}
.y49{bottom:756.386712px;}
.y47{bottom:772.254112px;}
.y45{bottom:789.113412px;}
.y60{bottom:800.052532px;}
.y62{bottom:801.540080px;}
.y43{bottom:853.575112px;}
.y41{bottom:869.442612px;}
.y3f{bottom:885.310112px;}
.y3e{bottom:1076.711812px;}
.y3d{bottom:1092.579312px;}
.y3b{bottom:1203.651712px;}
.y3a{bottom:1378.194112px;}
.y38{bottom:1394.061612px;}
.y36{bottom:1409.929112px;}
.y34{bottom:1426.788312px;}
.y32{bottom:1442.655812px;}
.y30{bottom:1458.523312px;}
.y2e{bottom:1474.390812px;}
.y2c{bottom:1490.258412px;}
.y2a{bottom:1506.125812px;}
.y28{bottom:1521.993312px;}
.y26{bottom:1537.860812px;}
.y23{bottom:1554.720012px;}
.y21{bottom:1571.579212px;}
.y1e{bottom:1587.446712px;}
.y1c{bottom:1604.306012px;}
.y1a{bottom:1621.165212px;}
.y17{bottom:1637.032712px;}
.y14{bottom:1653.891912px;}
.y12{bottom:1670.751112px;}
.y10{bottom:1686.618612px;}
.ye{bottom:1703.477812px;}
.yc{bottom:1720.337012px;}
.y9{bottom:1736.204512px;}
.y7{bottom:1768.931212px;}
.y5{bottom:1808.599912px;}
.y3{bottom:1824.467412px;}
.y1{bottom:1840.334912px;}
.h12{height:15.367400px;}
.h4{height:15.367500px;}
.h14{height:15.367600px;}
.hd{height:16.359200px;}
.hf{height:16.359300px;}
.h2{height:19.334400px;}
.h7{height:23.301200px;}
.h6{height:23.413359px;}
.h13{height:25.839844px;}
.ha{height:26.138672px;}
.h11{height:28.596094px;}
.h10{height:28.926797px;}
.h5{height:29.004609px;}
.h16{height:31.320469px;}
.h9{height:31.696875px;}
.he{height:32.063437px;}
.hb{height:32.226700px;}
.hc{height:40.776328px;}
.h3{height:46.477266px;}
.h15{height:46.578515px;}
.h8{height:52.277344px;}
.h1{height:1808.000000px;}
.h0{height:1913.919300px;}
.w7{width:68.289000px;}
.w6{width:68.289100px;}
.w10{width:89.326196px;}
.w11{width:119.123573px;}
.wa{width:137.078100px;}
.w8{width:137.078200px;}
.wd{width:205.867100px;}
.w3{width:205.867200px;}
.w4{width:274.656200px;}
.we{width:274.656300px;}
.w2{width:343.445300px;}
.wc{width:343.445400px;}
.wf{width:412.234400px;}
.wb{width:481.023400px;}
.w9{width:618.601600px;}
.w5{width:824.968800px;}
.w1{width:827.500000px;}
.w0{width:926.268700px;}
.x2{left:1.769092px;}
.x1e{left:15.705591px;}
.x1a{left:26.082893px;}
.x13{left:28.053272px;}
.xb{left:30.184411px;}
.x26{left:42.234920px;}
.x0{left:49.500000px;}
.x3{left:50.650002px;}
.x19{left:57.296520px;}
.xc{left:59.497155px;}
.x25{left:63.393490px;}
.x10{left:66.689965px;}
.xd{left:71.314843px;}
.xf{left:73.401025px;}
.x22{left:78.298424px;}
.x17{left:82.605508px;}
.xe{left:90.483544px;}
.x1c{left:111.507019px;}
.x21{left:112.692975px;}
.x12{left:118.382484px;}
.x14{left:119.439102px;}
.x1d{left:125.478836px;}
.x20{left:147.087494px;}
.x5{left:188.228102px;}
.x11{left:218.410156px;}
.x23{left:224.626495px;}
.x4{left:232.044922px;}
.x1{left:257.017202px;}
.xa{left:260.863312px;}
.x1f{left:300.230011px;}
.x16{left:315.771179px;}
.x18{left:325.806302px;}
.x24{left:335.492438px;}
.x15{left:367.389587px;}
.x6{left:394.595302px;}
.x7{left:532.173402px;}
.x1b{left:600.962502px;}
.x8{left:669.751602px;}
.x9{left:738.540602px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:42.880000pt;}
.fs5{font-size:48.000000pt;}
.fs1{font-size:53.120000pt;}
.fs7{font-size:58.180789pt;}
.fs4{font-size:58.880000pt;}
.fs6{font-size:74.880000pt;}
.fs0{font-size:85.120000pt;}
.fs3{font-size:96.000000pt;}
.y6{bottom:3.260731pt;}
.y4{bottom:3.803227pt;}
.y39{bottom:3.803237pt;}
.y42{bottom:3.988953pt;}
.y44{bottom:3.988963pt;}
.yb{bottom:3.988965pt;}
.y2d{bottom:4.308907pt;}
.y37{bottom:4.309008pt;}
.y2f{bottom:4.309009pt;}
.y31{bottom:4.309019pt;}
.y29{bottom:4.309020pt;}
.y33{bottom:4.309028pt;}
.y2b{bottom:4.309031pt;}
.y35{bottom:4.309039pt;}
.y18{bottom:4.668896pt;}
.y1b{bottom:4.668905pt;}
.y16{bottom:4.668925pt;}
.y13{bottom:4.668936pt;}
.y40{bottom:4.668943pt;}
.ya{bottom:4.668956pt;}
.y3c{bottom:4.668961pt;}
.yd{bottom:4.668965pt;}
.y25{bottom:4.669000pt;}
.y1f{bottom:4.669020pt;}
.y22{bottom:4.669029pt;}
.y50{bottom:4.669040pt;}
.y58{bottom:4.669044pt;}
.y52{bottom:4.669080pt;}
.y46{bottom:4.669084pt;}
.y4a{bottom:4.669105pt;}
.y4e{bottom:4.669111pt;}
.y56{bottom:4.669116pt;}
.y5f{bottom:4.669131pt;}
.y48{bottom:4.669147pt;}
.y4c{bottom:4.669153pt;}
.y54{bottom:4.669157pt;}
.y2{bottom:5.498533pt;}
.y19{bottom:5.991181pt;}
.y11{bottom:5.991212pt;}
.y27{bottom:5.991276pt;}
.y20{bottom:5.991327pt;}
.y8{bottom:6.988976pt;}
.yf{bottom:15.090261pt;}
.y1d{bottom:17.191319pt;}
.y15{bottom:17.191348pt;}
.y24{bottom:17.191403pt;}
.y61{bottom:25.810970pt;}
.y0{bottom:70.666667pt;}
.y5e{bottom:137.125615pt;}
.y5d{bottom:158.282282pt;}
.y5c{bottom:179.438949pt;}
.y5b{bottom:200.595482pt;}
.y5a{bottom:369.848949pt;}
.y59{bottom:391.005482pt;}
.y57{bottom:499.433482pt;}
.y55{bottom:520.590149pt;}
.y53{bottom:541.746682pt;}
.y51{bottom:711.000015pt;}
.y4f{bottom:796.948949pt;}
.y4d{bottom:818.105615pt;}
.y4b{bottom:839.262149pt;}
.y49{bottom:1008.515615pt;}
.y47{bottom:1029.672149pt;}
.y45{bottom:1052.151215pt;}
.y60{bottom:1066.736710pt;}
.y62{bottom:1068.720107pt;}
.y43{bottom:1138.100149pt;}
.y41{bottom:1159.256815pt;}
.y3f{bottom:1180.413482pt;}
.y3e{bottom:1435.615749pt;}
.y3d{bottom:1456.772415pt;}
.y3b{bottom:1604.868949pt;}
.y3a{bottom:1837.592149pt;}
.y38{bottom:1858.748815pt;}
.y36{bottom:1879.905482pt;}
.y34{bottom:1902.384415pt;}
.y32{bottom:1923.541082pt;}
.y30{bottom:1944.697749pt;}
.y2e{bottom:1965.854415pt;}
.y2c{bottom:1987.011215pt;}
.y2a{bottom:2008.167749pt;}
.y28{bottom:2029.324415pt;}
.y26{bottom:2050.481082pt;}
.y23{bottom:2072.960015pt;}
.y21{bottom:2095.438949pt;}
.y1e{bottom:2116.595615pt;}
.y1c{bottom:2139.074682pt;}
.y1a{bottom:2161.553615pt;}
.y17{bottom:2182.710282pt;}
.y14{bottom:2205.189215pt;}
.y12{bottom:2227.668149pt;}
.y10{bottom:2248.824815pt;}
.ye{bottom:2271.303749pt;}
.yc{bottom:2293.782682pt;}
.y9{bottom:2314.939349pt;}
.y7{bottom:2358.574949pt;}
.y5{bottom:2411.466549pt;}
.y3{bottom:2432.623215pt;}
.y1{bottom:2453.779882pt;}
.h12{height:20.489867pt;}
.h4{height:20.490000pt;}
.h14{height:20.490133pt;}
.hd{height:21.812267pt;}
.hf{height:21.812400pt;}
.h2{height:25.779200pt;}
.h7{height:31.068267pt;}
.h6{height:31.217812pt;}
.h13{height:34.453125pt;}
.ha{height:34.851562pt;}
.h11{height:38.128125pt;}
.h10{height:38.569063pt;}
.h5{height:38.672812pt;}
.h16{height:41.760625pt;}
.h9{height:42.262500pt;}
.he{height:42.751250pt;}
.hb{height:42.968933pt;}
.hc{height:54.368437pt;}
.h3{height:61.969687pt;}
.h15{height:62.104687pt;}
.h8{height:69.703125pt;}
.h1{height:2410.666667pt;}
.h0{height:2551.892400pt;}
.w7{width:91.052000pt;}
.w6{width:91.052133pt;}
.w10{width:119.101595pt;}
.w11{width:158.831431pt;}
.wa{width:182.770800pt;}
.w8{width:182.770933pt;}
.wd{width:274.489467pt;}
.w3{width:274.489600pt;}
.w4{width:366.208267pt;}
.we{width:366.208400pt;}
.w2{width:457.927067pt;}
.wc{width:457.927200pt;}
.wf{width:549.645867pt;}
.wb{width:641.364533pt;}
.w9{width:824.802133pt;}
.w5{width:1099.958400pt;}
.w1{width:1103.333333pt;}
.w0{width:1235.024933pt;}
.x2{left:2.358789pt;}
.x1e{left:20.940788pt;}
.x1a{left:34.777191pt;}
.x13{left:37.404363pt;}
.xb{left:40.245881pt;}
.x26{left:56.313227pt;}
.x0{left:66.000000pt;}
.x3{left:67.533336pt;}
.x19{left:76.395360pt;}
.xc{left:79.329540pt;}
.x25{left:84.524653pt;}
.x10{left:88.919953pt;}
.xd{left:95.086457pt;}
.xf{left:97.868033pt;}
.x22{left:104.397899pt;}
.x17{left:110.140677pt;}
.xe{left:120.644725pt;}
.x1c{left:148.676025pt;}
.x21{left:150.257300pt;}
.x12{left:157.843312pt;}
.x14{left:159.252136pt;}
.x1d{left:167.305115pt;}
.x20{left:196.116659pt;}
.x5{left:250.970803pt;}
.x11{left:291.213541pt;}
.x23{left:299.501993pt;}
.x4{left:309.393229pt;}
.x1{left:342.689603pt;}
.xa{left:347.817749pt;}
.x1f{left:400.306681pt;}
.x16{left:421.028239pt;}
.x18{left:434.408403pt;}
.x24{left:447.323250pt;}
.x15{left:489.852783pt;}
.x6{left:526.127069pt;}
.x7{left:709.564536pt;}
.x1b{left:801.283336pt;}
.x8{left:893.002136pt;}
.x9{left:984.720803pt;}
}
